{% load course_tags %}


{% for i in course %}
    <div class="col-md pb-4 pb-md-7">
                        <!-- Card -->
                        <div class="card border shadow p-2 lift sk-fade">
                            <!-- Image -->
                            <div class="card-zoom position-relative">
                                <a href="{{ i.get_absolute_url }}" class="card-img sk-thumbnail d-block">
                                    <img class="rounded shadow-light-lg" src="{{ i.featured_image }}" alt="...">
                                </a>
                            </div>

                            <!-- Footer -->
                            <div class="card-footer px-2 pb-2 mb-1 pt-4 position-relative">
                                <a href="{{ i.get_absolute_url }}" class="d-block">
                                    <div class="avatar sk-fade-right avatar-xl badge-float position-absolute top-0 right-0 mt-n6 me-5 rounded-circle shadow border border-white border-w-lg">
                                        <img src="{{ i.author.author_profile }}" alt="..." class="avatar-img rounded-circle">
                                    </div>
                                </a>

                                <!-- Preheading -->
                                <a href="{{ i.get_absolute_url }}"><span class="mb-1 d-inline-block text-gray-800">{{ i.category }}</span></a>

                                <!-- Heading -->
                                <div class="position-relative">
                                    <a href="{{ i.get_absolute_url }}" class="d-block stretched-link"><h4 class="line-clamp-2 h-md-48 h-lg-58 me-md-6 me-lg-10 me-xl-4 mb-2">{{ i.title }}</h4></a>
                                    <button class="btn btn-primary btn-block mb-6" >XEM</button>
                                </div>
                            </div>
                        </div>
                    </div>
{% endfor %}
